.navbar0 .nav-link:hover,
.navbar0 .dropdown-item:hover {
  background-color: #888888;
  /* Cambia el color de fondo al hacer hover */
  color: white;
  /* Cambia el color del texto al hacer hover */
}

/* Estilos de hover para el botón de ajustes */
.navbar0 .dropdown-item:hover .MuiSvgIcon-root {
  fill: white;
  /* Cambia el color del ícono al hacer hover */
}

.navbar0 .navbar-brand:hover img {
  transform: scale(1.1);
  /* Cambia el tamaño de la imagen al hacer hover */
  transition: transform 0.3s ease;
  /* Agrega una transición suave al cambio de tamaño */
}

.ml-auto-custom {
  margin-left: auto;
  margin-right: 60px;
}